/*ACCENT COLORS:
	Lime green: #14F600,20,246,0
	Hot pink: #FF19D5, 255,25,213
	Blue: #0200FF, 2,0 ,255
	Purple: #B400FF,180,0,255
	Orange: #FF900D,255,144,13;
	Cyan: #00FFDE 0,255,222;
*/
*{
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}
iframe{
	width: 700px;
	height:700px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	border: 4px dashed;
}

.owlNav:hover{
color: rgb(20, 246, 0);
text-shadow: 0 5px 15px rgba(20, 246, 0, .8);
transition: all 0.2s ease-in-out;
}

body {
	font-size: 18px;
	font-family: 'Source Code Pro', monospace;
	color: #E6E6E6;
	background-color: #1C1C1C;
	margin:0;
}
header{
	width: 100%;
	height: 45px;
	padding-top: 5px;
	background-color: #121212;
}
h1{
	text-transform: uppercase;
}
h3{
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: #E6E6E6;
}

nav{
	background-color: #121212;
	padding: 5px 20px;
}
nav ul{
	list-style-type: none;
	text-transform: uppercase;
}
nav a:hover{
	color: #14F600;
 	text-shadow: 0 5px 15px rgba(20, 246, 0, .8);
	text-decoration: none;
 	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.menu li{
	font-size: 16px;
	padding: 15px 5px;
}
.menu li a{
	display:block;
}
.primary.secondary{
	border-bottom: 1px #444 solid;
}
/*Mobile Menu*/
.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.toggle{
	order:1;
}
.item.primary-button{
	order:2;
}
.item{
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}
.item.active{
	display: block;
}

.toggle{
	cursor: pointer;
}
.bars{
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
}
.bars::before,.bars::after{
	background: #999;
	content: "";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}
.bars::before{
	top:5px;
}
.bars::after{
	top:-5px;
}

/*Tablet Menu*/
@media all and (min-width:600px){
	.menu{
		justify-content: center;
	}
	.logo{
		flex:1;
	}
	.item.primary{
		width: auto;
		order: 1;
		display: block;
	}
	
	.toggle{
		order: 2;
	}
	.primary.secondary{
		border: 0;
	}
	.primary.secondary a{
		padding: 7px 15px;
		background: transparent;
		border: 1px solid #14F600;
	}
}

/*Desktop*/
@media all and (min-width:768px){
	.item{
		display:block;
		width: auto;
		order: 1;
	}
	.toggle{
		display: none;
	}
	.logo{
		order: 0;
	}
	.primary.secondary{
		order: 2;
	}
	.menu li{
		padding: 15px 10px;
	}
	.menu li.primary.secondary{
		padding-right: 0;
	}
}


form{
	position: relative;
	width: 390px;
	height: 520px;
	text-transform: uppercase;
	padding:20px;
	border: 1px solid  #E6E6E6;
	margin-left: auto;
	margin-right: auto;
}
form input{
	
	text-transform: uppercase;
	padding: 3px;
}
form #submit{
	border: 0;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	color: #d6d6d6;
 	background: rgba(20, 246, 0,.7);
/* 	box-shadow: 0 5px 15px rgba(20, 246, 0, .8);
*/ 	padding: 15px 40px;
 	text-transform: uppercase;
 	transition: all 0.2s ease-in-out;
}
form #submit:hover{
	color: #1C1C1C;
 	background: rgb(20, 246, 0);
 	box-shadow: 0 5px 15px rgba(20, 246, 0, .8);
 	text-transform: uppercase;
 	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
form #fname #lname #email{
	position: relative;
	float: left;
}
form #concerns{
	padding: 3px;
	width: 350px;
	height: 150px;
	text-align: left;
}

.toTop{
	width: 75px;
	font-size: 32px;
	text-align: center;
	color: #E6E6E6;
	text-decoration:none;
	height: 50px;
	position:fixed;
	padding: 3px;
	bottom: 0;
    right:10px;
	border: 3px solid #E6E6E6;
}
.toTop:hover{
	box-shadow: 0 5px 15px rgba(255,255,255, .8);
	transition: all 0.2s ease-in-out;
	float: right;
}

.container{
	margin: 0;
	height: 100%;
	width:100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.centered{
	width: auto;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
}
.container h1{
	
	font-size: 72px;
	font-size: 4.5vw;
	text-transform: uppercase;
}

.container h3{
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1.5vw;
}

.lessonContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0px 50px;
}

.lessonContent{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 50%;
	height: auto;
	line-height: 36px;
	
}
.lessonContent p{
	margin-left: auto;
	margin-right: auto;
}

.cta{
	position: relative;
	/*margin-left: 500px;
	margin-right: 200px;*/
	margin-left: auto;
	margin-right: auto;
	width: 210px;
}

.why{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	width: 70%;
	height:auto;
	
}
/*

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!QUESTIONABLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

*/

.why h1{
	text-align: center;
}

.htmlwhy{
	width: 498px;
	height:auto;
	border: 1px solid #00FFDE;
	line-height: 36px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:5px;
	margin-bottom: 5px;
	float: left;
}

.htmlwhy p{
	padding: 15px;
	font-size: 14px;
	text-align: left;
}
.htmlwhy:hover{
	box-shadow: 0 5px 15px rgba(0,255,222, .8);
	transition: all 0.2s ease-in-out;
}

.csswhy{
	width: 498px;
	height:auto;
	border: 1px solid #FF19D5;
	line-height: 36px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:5px;
	margin-bottom: 5px;
	float: left;
}

.csswhy p{
	padding: 15px;
	font-size: 14px;
	text-align: left;
}
.csswhy:hover{
	box-shadow: 0 5px 15px rgba(255,25,213, .8);
	transition: all 0.2s ease-in-out;
}

.help{
	position: relative;
	width: 860px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
}
.help h1{
	text-transform: uppercase;
	text-align: center;
}
.help h3{
	text-transform: uppercase;
	text-align: center;
}

.button{
	border: 0;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	color: #d6d6d6;
 	background: rgba(20, 246, 0,.7);
/* 	box-shadow: 0 5px 15px rgba(20, 246, 0, .8);
*/ 	padding: 15px 40px;
 	font-weight: normal;
 	text-transform: uppercase;
 	transition: all 0.2s ease-in-out;
}
.button:hover{
	color: #1C1C1C;
 	background: rgb(20, 246, 0);
 	box-shadow: 0 5px 15px rgba(20, 246, 0, .8);
 	padding: 15px 40px;
 	font-weight: normal;
 	text-transform: uppercase;
 	transition: all 0.2s ease-in-out;
	cursor: pointer;
}